.circle-decor {
   position: relative;
   display: inline-block;
   width: 90px;
   height: 90px;
   background-color: var(--quizle-primary-color);
   border-radius: 50%;
   vertical-align: middle;
   z-index: 3;
   flex-shrink: 0;

   @include tablet {
      width: 70px;
      height: 70px;
   }
}

.arrow-decor {
   width: 130px;
   height: 42px;
   position: absolute;
   top: 50%;
   transform: translate(20%, -50%);
   vertical-align: middle;

   @include tablet {
      width: 80px;
   }


}

.rectangle-decor {
   display: inline-block;
   background-color: var(--quizle-accent-light-color);
   border-radius: 56px;
   //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;;
   font-family: "Figtree", Arial, Helvetica, sans-serif;
   @include fluid-text(70, 38);
   text-align: center;
   padding: 8px 72px;
   margin-left: -15px;
   vertical-align: middle;
   line-height: 1.2;
   position: relative;

   @include desktop-bottom {
      padding-block: 16px;
   }

   @include mobile {
      order: 3;
      border-radius: 12px;
      height: 90px;
      padding-top: 35px;
      margin-left: 0;
      width: 100%;
   }

   &::after {
      content: "WordPress";
      padding: 10px 26px;
      background-color: var(--quizle-primary-color);
      color: var(--quizle-primary-color-text);
      border-radius: 30px;
      //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;;
      font-family: "Figtree", Arial, Helvetica, sans-serif;
      font-size: 18px;
      position: absolute;
      top: -23px;
      right: -30px;
      font-weight: 500;
      animation:
         top-transform-decor-intro 1s,
         rotate-decor-intro 1s ease-in-out 2;

      @include tablet-bottom {
         top: -20px;
      }

      @include mobile {
         right: calc(50% - 76px);
         top: -15px;

      }
   }
}

@keyframes top-transform-decor-intro {
   0% {
      transform: translateY(-100%);
      scale: 1.7;
   }

   100% {
      transform: translateY(5%);
      scale: 1;
   }
}

@keyframes rotate-decor-intro {
   0% {
      rotate: 5deg;
   }

   25% {
      rotate: -5deg;
   }

   50% {
      rotate: 5deg;
   }

   75% {
      rotate: -5deg;
   }

   100% {
      rotate: 5deg;
   }
}

.arrow-down {
   position: absolute;
   top: 35px;
   left: 30px;
   width: 122px;
   height: 122px;

   @include desktop-bottom {
      top: 40px;
      left: 34px;
      width: 85px;
      height: 85px;
   }

   @include tablet {
      top: 30px;
      left: 25px;
      width: 82px;
      height: 77px;
   }


   @include mobile {
      display: none;
   }
}